<!DOCTYPE html>
<html ng-app="hackathon">
    <head>
        <link rel="stylesheet" type="text/css" href="css/materialize.min.css" />
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/angular-animate.min.js"></script>

        <script type="text/javascript" src="js/app.js"></script>
        <link rel="stylesheet" type="text/css" href="css/dashboard.css"/>
        <title>ICS 202 Challenge Score</title>
    </head>

    <body ng-controller="gameController as game" class="blue-grey darken-3" style="font-family: courier, monospace;  
                                                                                   ">
        <div class="navbar-fixed">
            <nav class="blue-grey darken-4">
                <a href="http://www.techbench.org" target="_blank" class="left hide-on-sma-and-down"> <img style="height: 70px" src="profile.png"></img></a>
            <a class="brand-logo center" ><span class=" text-lighten">ICS 202 Challenge Score</span></a>
                <a class="brand-logo right"> <img style="height: 70px" src="csrg.png"></img></a>

    </nav>
</div>


<div class=" blue-grey darken-3">


    <div class="row">
        <div class="col l12 m12">
            <br>
            <span class="collection-header white-text"><h6><em class="orange-text text-accent-4" style="font-size: small;">Rank </em><span class="light-green-text text-accent-3">Players</span> (id)<em class="right">Points</em></h6></span>
            <ul class="collection" >
                <li style="padding-bottom:0px; padding-top:0px;"
                    class="collection-item blue-grey darken-3 light-green-text text-accent-3" 
                    ng-animate="'animate'" 
                    ng-repeat="player in game.players | orderBy: '-points'" ng-hide="icsOnly && player.ics == 0"
                    >
                    <h4 style="margin-bottom:5px; margin-top:5px;"><span class="orange-text text-accent-4">{{$index+1}}</span> {{player.name}} <span style="font-size: small" class="white-text">({{player.id}}) </span><em class="right btn orange" ng-class="game.heat($index)">{{player.points}}</em></h4></li>

            </ul>


            <!--  Players Container  -->
        </div>
    </div>


</div>
<div>
    <label class="blue-grey-text text-darken-2" for="test5">102</label>
    <input type="checkbox" ng-model="icsOnly" id="test5">
</div>

<footer class=" container-fluid">
    <div class="row hide" ng-controller="playersController as pc">
        <form class="form-inline" >
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">+</div>
                    <input ng-model="pc.player.name" type="text" class="form-control" id="exampleInputAmount" placeholder="Player name">

                </div>
            </div>
            <button type="submit" ng-click="pc.addPlayer()" class="btn btn-default">Add player</button>
            <button type="button" ng-click="pc.addPlayer()" class="btn btn-default">Refresh</button>
        </form>
    </div>


    <h6 class="center white-text">ICS 202 Challenge by <a class="blue-text text-lighten-2" href="http://www.samizhioua.com">Dr. Sami Zhioua</a></h6>
</footer>


<script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>

</body>
</html>
